# Prefer excluding all assets by default. It prevents large artifacts from
# accidentally becomming part of the Docker context.
*
!.circleci
!.env.temp
!.eslintrc.js
!.nvmrc
!.prettierignore
!.storybook
!CONTRIBUTING.md
!__mocks__
!apollo.config.js
!babel.config.js
!coffeelint.json
!cypress
!cypress.json
!dangerfile.ts
!data
!jest.config.js
!package.json
!patches
!relay.config.js
!renovate.json
!scripts
!src
!test.config.js
!test.mocha.js
!tsconfig.json
!webpack
!yarn.lock
